
@{
    ViewData["Title"] = "Payment";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>商铺信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="~/wxstatic/css/mui.min.css">
    <link rel="stylesheet" href="~/wxstatic/css/mui.picker.css">
    <link rel="stylesheet" href="~/wxstatic/css/mui.poppicker.css">
    <link href="~/wxstatic/css/mui.loading.css" rel="stylesheet" />
    <script src="~/wxstatic/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <style>
        /*隐藏google touch事件错误*/
        * {
            touch-action: none;
        }
        /*删除下划线*/
        a {
            text-decoration: none
        }

        .mui-placeholder {
            font-size: 14px;
        }
    </style>
</head>

<body class="mui-ios mui-ios-13 mui-ios-13-2 mui-ios-13-2-3">
    <div class="mui-content">
        <div class="mui-card">
            <ul class="mui-table-view" id="conditions">
                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#">筛选条件</a>
                    <div class="mui-collapse-content">
                        <form class="mui-input-group">
                            <div class="mui-input-row">
                                <label> 商 铺 :</label>
                                <input type="text" placeholder="请选择" id="inputType">
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mui-card">
            <div style="padding: 10px 10px;">
                <div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
                    <a class="mui-control-item mui-active" href="#item1">商铺信息</a>
                    <a class="mui-control-item" href="#item3">商户信息</a>
                </div>
            </div>
            <div>
                <div id="item1" class="mui-control-content mui-active">
                    <div class="mui-input-row">
                        <label>房屋属性</label>
                        <input type="text" class="mui-input-clear" tid="FWSX">
                    </div>
                    <div class="mui-input-row">
                        <label>商铺名称</label>
                        <input type="text" class="mui-input-clear" tid="FWMC">
                    </div>
                    <div class="mui-input-row">
                        <label>商铺编号</label>
                        <input type="text" class="mui-input-clear" tid="FWBH">
                    </div>
                    <div class="mui-input-row">
                        <label>所属区域</label>
                        <input type="text" class="mui-input-clear" tid="SSQY">
                    </div>
                    <div class="mui-input-row">
                        <label>建筑面积</label>
                        <input type="text" class="mui-input-clear" tid="JZMJ">
                    </div>
                    <div class="mui-input-row">
                        <label>隶属公司</label>
                        <input type="text" class="mui-input-clear" tid="LSFGS">
                    </div>
                    <div class="mui-input-row">
                        <label>坐落位置</label>
                        <input type="text" class="mui-input-clear" tid="ZLWZ">
                    </div>
                    <div class="mui-input-row">
                        <label>结构类型</label>
                        <input type="text" class="mui-input-clear" tid="JGLX">
                    </div>
                    <div class="mui-input-row">
                        <label>资产值</label>
                        <input type="text" class="mui-input-clear" tid="ZCYZ">
                    </div>
                    <div class="mui-input-row">
                        <label>剩余水量</label>
                        <input type="text" class="mui-input-clear" tid="WaterInfo">
                    </div>
                    <div class="mui-input-row">
                        <label>剩余电费</label>
                        <input type="text" class="mui-input-clear" tid="ElecInfo">
                    </div>
                </div>
                <div id="item3" class="mui-control-content">
                    <div class="mui-input-row">
                        <label>商户名称</label>
                        <input type="text" class="mui-input-clear" tid="SHOP_NAME">
                    </div>
                    <div class="mui-input-row">
                        <label>店铺位置</label>
                        <input type="text" class="mui-input-clear" tid="ZLWZ">
                    </div>
                    <div class="mui-input-row">
                        <label>房屋类型</label>
                        <input type="text" class="mui-input-clear" tid="FWSX">
                    </div>
                    <div class="mui-input-row">
                        <label>经营内容</label>
                        <textarea tid="JYNR" rows="6"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/wxstatic/js/mui.min.js"></script>
    <script src="~/wxstatic/js/mui.picker.js"></script>
    <script src="~/wxstatic/js/mui.poppicker.js"></script>
    <script src="~/wxstatic/js/mui.loading.js"></script>
    <script>
        jq = $;
        //mui
        var picker = null;
        (function ($) {
            $.init({
                swipeBack: true //启用右滑关闭功能
            });
            $('#scroll').scroll({
                indicators: true //是否显示滚动条，
            });
            // picker
            picker = new mui.PopPicker();
            jq("#inputType").on("tap", function () {
                picker.show(function (selectItems) {
                    //赋值筛选条件
                    jq(this).val(selectItems[0].text);
                    setShowData(selectItems[0].value);
                }.bind(this))
            })
            var List;
            var setData = function (list) {
                var info = [];
                jq.each(list, function (idx, val) {
                    info.push({ text: val["FWMC"], value: val["FWID"] });
                });
                picker.setData(info);
                if (list.length > 0) {
                    jq("#inputType").val(list[0]["FWMC"]);
                    setShowData(list[0]["FWID"]);
                }
            }
            var setShowData = function (fwId) {
                var showData = List.filter(function (data) {
                    return data["FWID"] == fwId
                });
                if (showData.length > 0) {
                    jq.each(jq(".mui-card .mui-control-content input"), function (idx, val) {
                        setValue(showData[0], val.getAttribute("tid"));
                    })
                    var fwsx = showData[0]["FWSX"];
                    var shopStatus = showData[0]["SHOP_STATUS"];
                    var shopStatu = shopStatus == 0 ? '空闲' : (shopStatus == 1 ? '出租' : (shopStatus == 2 ? '出售' : (shopStatus == 3 ? '转售' : '终止物业关系')))
                    jq("[tid='FWSX']").val(fwsx == 0 ? '空闲' : (fwsx == 1 ? '出租' : '出售'));
                    jq("[tid='JYNR']").text(showData[0]['JYNR']);
                    //jq("[tid='SHOP_STATUS']").text(shopStatu);
                    ShowWaterAndElectricity(showData[0]['WATER_NUMBER'], showData[0]['CID'], showData[0]['ELE_NUMBER']);
                }
            }
            var setValue = function (data, title) {
                var Title = data[title];
                if (Title != null && Title != "" && Title != undefined) {
                    jq("[tid='" + title + "']").val(Title);
                }
            }

            var ShowWaterAndElectricity = function (wId, cId, eleId) {
                // get info about waterid
                window.post("GetWater", { WaterId: wId }, function (data) {
                    if (data != null) {
                        jq("[tid='WaterInfo']").val(data.MeterAccflow || "");
                    }
                });
                window.post("GetElectricity", { CollectId: cId, ElectricityId: eleId }, function (data) {
                    if (data != null) {
                        jq("[tid='ElecInfo']").val(data.EleBalance || "");
                    }
                })
            }

            window.post = function (url, data, callback, failcallback) {
                mui.showLoading();
                $.post(url, data, function (res) {
                    mui.hideLoading();
                    if (res.code == 1000) {
                        callback(res.data || null);
                    } else {
                        if (typeof (failcallback) == "function") {
                            failcallback(res);
                        }
                    }
                })
            }
            $.post("GetShopDetails", function (result) {
                List = result;
                if (List.length <= 0) {
                    window.location.href = "../home/error?msg='未查询到店铺信息'"
                    return;
                }
                setData(result);
            });
        })(mui);
    </script>

</body>

</html>