@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<ul class="mui-table-view">
    @foreach (var item in Model)
    {
        <li class="mui-table-view-cell">
            <div class="mui-row" id="list">
                <div class="mui-col-sm-3 mui-col-xs-3">
                    <button type="button" class="mui-btn mui-btn-primary" onclick="pass('@item.Code')" value="1">合格</button>
                </div>
                <div class="mui-col-sm-3 mui-col-xs-3">
                    <button type="button" class="mui-btn mui-btn-danger" onclick="unpass('@item.Code')" value="0">不合格</button>
                </div>
                <div class="mui-col-sm-6 mui-col-xs-6" id="statusbutton">
                    <button type="button" class="mui-btn" id="@item.Code" value="0" style="width:100%">@item.Name <span class="mui-icon mui-icon-info"></span></button>
                </div>
            </div>
        </li>
    }
</ul>
